# You can freely add your own parameters into this file
# Parameters are treated as string when read by ConfigParser.
# Int, float, boolean type variables will be converted to the correct type when 
# the Config object is initialized. If you need automatic conversion
# of other variable types, you need to edit the Config class in helper.py

[ReadVideo]
# Haarcascade weighting file path
cascadePath = haarcascade_frontalface_alt2.xml

# Save detected faces?
saveFaces = True

# Time interval between snapshots in unit of second
# Smaller values give more accurate results but also take more computing time.
dt = 1

# Use absolute path to have a correct link in .html
videoName = test.mp4

# Minimum face size. This parameter is used in Haarcascade.
minsize = 10  

# Maximum face size. This parameter is used in Haarcascade.
maxsize = 35

# Split a film when a time gap betweeen two subsequent detected faces
# is larger than this value, in unit of second.
gap_length = 120

# Path of VGG_FACE_fc7.prototxt and VGG_FACE.caffemodel
VGG_model = VGG_FACE_fc7.prototxt
VGG_weights = VGG_FACE.caffemodel

# Set caffe to run in cpu mode
cpu_caffe = True

[Classification]
# You may need to change this number if you change paramters in _read_video in
# Video.py. 
min_skin_pixels = 30000

# Initial value for number of clusters in KMean algorithm.
# This value will be automatically calculated if 0 is given
n_clusters = 0

# If n_clusters is not specified (0 is given),
# this value will be used to calculate n_clusters
# using the formula n_clusters = num_all_photos/ avg_clsize.
# If n_clusters is nonzero, this parameter is ignored.
avg_clsize = 200

# Seed used in Kmean algorithms
seed = 1

# Number of PCA components.  
n_pca  = 50

# Relative path is fine. You can also generate your own PCA model
# by running PCA for your data.
pca_pkl = pca1.pkl

# This value is used in the classification module
# to reject classes with counts < min_counts
min_counts = 20

[IO]
# Used for naming output files
film_num = 0

# directory which stores output csv files 
csv_dir = csvs

# directory which stores output html files
html_dir = htmls

# Use absolute path to have correct photo path in .html output
photo_dir = /absolute_path_to/film_000

# Relative path is fine
logfile = film_000.log

# Prefix of html page showing classified photos before merging
# Give 0 to disable making such a page
html_pre_merge = pre_merge

[Timing]
# Two time intervals having a gap < gap_min are merged into one. In unit of second.
gap_min = 180

# Time binwidth used in time histogram. In unit of second.
binwidth = 20